:root{
    --color-title: #434343;
    --paragraph-color: #939393;
    --white: #ffff;
}

.container {
    margin: 50px auto;
    padding: 15px;
    width: 325px;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--white);
}

.image{
    width: 300px;
    border-radius: 10px;
}

.content h2{
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-title);
    margin: 15px 0px;
}

.content p {
    padding: 10px;
    text-align: center;
    font-size: 1.1rem;
    color: var(--paragraph-color);
}